* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: white;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #111222;
  text-align: justify;
}

section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 100px;
  color: #fff;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-title {
  font-size: 4em;
  margin-bottom: 50px;
  margin-top: 16px;
}

.name {
  font-size: 3em;
  margin-bottom: 30px;
}

.content {
  position: relative;
  width: 1150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content .image {
  position: relative;
  width: 960px;
  height: 380px;
  overflow: hidden;
}

.content .image .profile-pic {
  z-index: 111;
  position: absolute;
  top: 0;
  left: 0;
  width: 340px;
  height: 340px;
  object-fit: cover;
  border-radius: 50%;
}

.content .text-box {
  z-index: 222;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  padding: 40px;
  max-width: 800px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  transform: translate(-60px, 50px);
}

.content .text-box h3 {
  font-size: 2em;
  margin-bottom: 10px;
}

.media-icons {
  margin-top: 100px;
}

.media-icons a {
  color: #fff;
  font-size: 3em;
  margin: 60px;
}

.section-title {
  font-size: 2em;
  margin-bottom: 80px;
}

.info-title {
  font-size: 1.6em;
  margin-bottom: 10px;
}

.info {
  width: 700px;
  margin-left: 50px;
}

.content .image .project-pic {
  z-index: 111;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5%;
}

.list-infos {
  width: 400px;
  margin-left: 50px;
}

.list-infos li {
  list-style: none;
  font-size: 1.2em;
}

.fa-solid {
  color: #ffb000;
}

.list-infos li:not(:last-child) {
  margin-bottom: 50px;
}

.list-infos li:nth-child(1),
.list-infos li:nth-child(5) {
  padding-left: 100px;
}

.list-infos li:nth-child(2),
.list-infos li:nth-child(4) {
  padding-left: 50px;
}

.sec-03 {
  margin-bottom: 50px;
}

.fa-solid {
  color: #ffb000;
}

.splide__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 600px) {
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrer horizontalement */
    justify-content: center; /* Centrer verticalement */
    margin-left: 180px;
  }

  .media-icons {
    flex-direction: column;
    align-items: center;
    margin-top: 30px; /* Ajuster la marge pour l'espacement */
  }

  .media-icons a {
    margin: 40px 0; /* Espacement entre chaque icône */
  }

  section {
    padding: 40px; /* Réduire la marge intérieure pour les écrans plus petits */
    margin: 20px 0;
    align-items: center;
    justify-content: center; /* Ajouter une marge extérieure autour de chaque section */
  }

  .content {
    flex-direction: column; /* Passer à une disposition en colonne pour les écrans plus petits */
    text-align: center;
    align-items: center;
    justify-content: center; /* Centrer le texte sous l'image */
  }

  .content .image,
  .content .info {
    width: 600px; /* Ajuster la largeur pour remplir la largeur de l'écran */
    margin-bottom: 20px;
    align-items: center;
    justify-content: center; /* Ajouter de l'espace entre l'image et le texte */
  }

  .content .image .profile-pic {
    border-radius: 60%;
    margin-left: 120px; /* Conserver la bordure ronde même dans les media queries */
  }

  .project-pic {
    margin-left: 48px;
    max-width: 560px;
  }

  .content .text-box {
    max-width: 50%; /* Ajuster la largeur pour remplir la largeur de l'écran */
    padding: 20px; /* Ajuster les marges intérieures pour plus de compacité */
    margin-bottom: 40px;
    align-items: center;
    justify-content: center;
    margin-left: 140px;
  }

  .main-title {
    font-size: 2em; /* Ajuster la taille de la police pour le titre principal */
  }

  .name {
    font-size: 1.8em; /* Ajuster la taille de la police pour le nom */
  }

  .section-title {
    font-size: 1.4em; /* Ajuster la taille de la police pour les titres de section */
  }

  .info-title {
    font-size: 1.2em; /* Ajuster la taille de la police pour les sous-titres */
  }

  .list-infos {
    margin-left: -40px;
    margin-bottom: 40px;
  }
}
