* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: white;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #111222;
  text-align: justify;
}

section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 100px;
  color: #fff;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-title {
  font-size: 4em;
  margin-bottom: 50px;
  margin-top: 16px;
}

.name {
  font-size: 3em;
  margin-bottom: 30px;
}

.content {
  position: relative;
  width: 1150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content .image {
  position: relative;
  width: 960px;
  height: 390px;
  overflow: hidden;
}

.content .image .profile-pic {
  z-index: 111;
  position: absolute;
  top: 0;
  left: 0;
  width: 340px;
  height: 340px;
  object-fit: cover;
  border-radius: 50%;
}

.content .text-box {
  z-index: 222;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  padding: 40px;
  max-width: 800px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  transform: translate(-60px, 50px);
}

.content .text-box h3 {
  font-size: 2em;
  margin-bottom: 10px;
}

.media-icons {
  margin-top: 100px;
}

.media-icons a {
  color: #fff;
  font-size: 3em;
  margin: 60px;
}

.section-title {
  font-size: 2em;
  margin-bottom: 80px;
}

.info-title {
  font-size: 1.6em;
  margin-bottom: 10px;
}

.info {
  width: 700px;
  margin-left: 50px;
}

.content .image .project-pic {
  z-index: 111;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5%;
}

.list-infos {
  width: 400px;
  margin-left: 50px;
}

.list-infos li {
  list-style: none;
  font-size: 1.2em;
}

.fa-solid {
  color: #ffb000;
}

.list-infos li:not(:last-child) {
  margin-bottom: 50px;
}

.list-infos li:nth-child(1),
.list-infos li:nth-child(5) {
  padding-left: 100px;
}

.list-infos li:nth-child(2),
.list-infos li:nth-child(4) {
  padding-left: 50px;
}

.sec-03 {
  margin-bottom: 50px;
}

.fa-solid {
  color: #ffb000;
}

.splide__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 768px) {
  body {
    padding: 0 20px; /* Ajout de marges sur les côtés */
  }

  .container,
  .content,
  .text-box,
  .info,
  .list-infos {
    padding: 40px 20px; /* Ajustement des paddings pour éviter le contact avec les bords */
  }

  .main-title {
    font-size: 3em; /* Diminution de la taille de la police */
    text-align: center;
  }

  .name {
    font-size: 2em; /* Diminution de la taille de la police */
    margin-bottom: 20px; /* Ajustement de la marge */
    text-align: center;
  }

  .sec-01 .container .image {
    text-align: center; /* Centrage horizontal du conteneur */
  }

  .sec-01 .container .image .profile-pic {
    transform: translateX(-45%); /* Ajustement du décalage horizontal */
    left: 50%; /* Positionnement horizontal au centre */
    width: 350px; /* Réduction de la largeur */
    height: 350px;
  }

  .sec-01 .container .text-box {
    width: 80%; /* Réduire la largeur pour créer des marges latérales */
    max-width: 600px; /* Taille maximale pour limiter la largeur sur de plus grands écrans */
    font-size: 1.1em;
  }

  .content {
    flex-direction: column; /* Affichage en colonnes pour les éléments de contenu */
  }

  .image,
  .text-box,
  .info,
  .list-infos {
    width: 100%; /* Prend toute la largeur disponible */
    margin-bottom: 30px; /* Espacement entre les éléments */
  }

  .profile-pic,
  .project-pic,
  video {
    width: 100%; /* Ajustement de la largeur des images et vidéos */
    height: auto; /* Pour conserver les proportions */
  }

  .media-icons {
    margin-top: 50px; /* Ajustement de la marge */
  }

  .media-icons a {
    font-size: 2em; /* Diminution de la taille de la police */
    margin: 30px; /* Espacement entre les icônes */
  }

  .section-title,
  .info-title {
    font-size: 1.5em; /* Diminution de la taille de la police */
    margin-bottom: 50px; /* Ajustement de la marge */
  }

  .list-infos {
    width: auto; /* Ajustement de la largeur */
    margin-left: 0; /* Suppression de la marge gauche */
  }
}

/* Téléphones mobiles */
@media only screen and (max-width: 480px) {
  body {
    padding: 0 10px; /* Marges plus petites sur les côtés */
  }

  .main-title {
    font-size: 2.5em; /* Diminution de la taille de la police */
    text-align: center;
    margin-right: 90px;
  }

  .name {
    font-size: 1.8em; /* Diminution de la taille de la police */
    margin-bottom: 15px; /* Ajustement de la marge */
    text-align: center;
    margin-right: 100px;
  }

  .sec-01 .container .image {
    text-align: center; /* Centrage horizontal du conteneur */
  }

  .sec-01 .container .image .profile-pic {
    transform: translateX(-65%); /* Ajustement du décalage horizontal */
    left: 50%; /* Positionnement horizontal au centre */
    width: 300px; /* Réduction de la largeur */
    height: 300px;
  }

  .sec-01 .container .text-box {
    width: 90%; /* Réduire la largeur pour créer des marges latérales */
    max-width: 400px; /* Taille maximale pour limiter la largeur sur de plus grands écrans */
    font-size: 1em;
    padding-left: 60px;
    padding-left: 60px;
    margin-top: -80px;
  }

  .sec-01 .container .text-box h3 {
    font-size: 1.5em; /* Réduction légère de la taille du titre */
    text-align: center;
  }
  .sec-01 .container .text-box h4 {
    text-align: center;
  }

  .sec-02 .container {
    max-width: 10%; /* Réduire la largeur du conteneur */
    margin: 0 auto; /* Centrer le conteneur */
  }

  .sec-02 .section-title {
    font-size: 1.5em; /* Réduire légèrement la taille du titre */
    margin-bottom: 30px; /* Ajouter un espacement inférieur */
    text-align: center;
    margin-right: 100px;
    margin-top: -80px;
  }

  .sec-02 .container .image img.project-pic {
    width: 320px; /* Réduire la largeur de l'image */
    height: 260px;
    margin-left: 274px;
    padding-top: -80px;
  }

  .sec-02 .container .info {
    width: 30%; /* Réduire la largeur pour ajouter des marges */
    margin-right: 144px;
    margin-top: -120px;
  }

  .sec-02 .container .info h4 {
    text-align: center;
  }

  .sec-03 .container {
    max-width: 40%; /* Réduire la largeur du conteneur */
    margin: 0 auto; /* Centrer le conteneur */
  }

  .sec-03 .section-title {
    font-size: 1.5em; /* Réduire légèrement la taille du titre */
    margin-bottom: 30px; /* Ajouter un espacement inférieur */
    text-align: center;
    margin-right: 100px;
    margin-top: -180px;
  }

  .text-box,
  .info,
  .list-infos {
    padding: 20px 10px; /* Ajustement des paddings */
  }

  .media-icons {
    margin-top: 30px; /* Ajustement de la marge */
  }

  .media-icons a {
    font-size: 1.5em; /* Diminution de la taille de la police */
    margin: 20px; /* Espacement entre les icônes */
  }

  .section-title,
  .info-title {
    font-size: 1.2em; /* Diminution de la taille de la police */
    margin-bottom: 40px; /* Ajustement de la marge */
  }
}
