*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: white;
}

html{
  scroll-behavior: smooth;
}

body{
  background: #111222;
  text-align: justify;
}

section{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 100px;
  color: #fff;
}

.container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-title{
  font-size: 4em;
  margin-bottom: 50px;
}

.name{
  font-size: 3em;
  margin-bottom: 30px;
}

.content{
  position: relative;
  width: 1150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content .image{
  position: relative;
  width: 600px;
  height: 350px;
  overflow: hidden;
}

.content .image .profile-pic{
  z-index: 111;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.content .text-box{
  z-index: 222;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  padding: 40px;
  max-width: 800px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  transform: translate(-60px, 50px)
}

.content .text-box h3{
  font-size: 2em;
  margin-bottom: 10px;
}

.media-icons{
  margin-top: 100px;
}

.media-icons a{
  color: #fff;
  font-size:3em;
  margin: 60px;
}

.section-title{
  font-size: 2em;
  margin-bottom: 80px
}

.info-title{
  font-size: 1.6em;
  margin-bottom: 10px;
}

.info{
  width: 700px;
  margin-left: 50px;
}

.content .image .project-pic{
  z-index: 111;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5%;
}

.list-infos{
  width: 400px;
  margin-left: 50px;
}

.list-infos li{
  list-style: none;
  font-size: 1.2em;
}

.list-infos li:not(:last-child){
  margin-bottom: 50px;
}

.list-infos li:nth-child(1), .list-infos li:nth-child(5){
  padding-left: 100px;
}

.list-infos li:nth-child(2), .list-infos li:nth-child(4){
  padding-left: 50px;
}

.sec-03{
  margin-bottom: 50px;
}

.fa-solid{
  color: #FFB000;
}
